{% extends '@App/layouts/base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard instances</a>
                </li>
                <li class="breadcrumb-item active">My Dashboard</li>
            </ol>
            <!-- Icon Cards-->

            <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab"
                       aria-controls="summary" aria-selected="false">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="instances-tab" data-toggle="tab" href="#instances" role="tab"
                       aria-controls="instances" aria-selected="false">Instances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="licenses-tab" data-toggle="tab" href="#licenses" role="tab"
                       aria-controls="licenses" aria-selected="false">Licenses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="reports-tab" data-toggle="tab" href="#reports" role="tab"
                       aria-controls="reports" aria-selected="true">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="server_health-tab" data-toggle="tab" href="#server_health" role="tab"
                       aria-controls="server_health" aria-selected="false">Server Health</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">

                    <div class="col-xl-12 col-sm-12 mb-2">
                        <div class="card-body alert alert-info" role="alert">
                            <span>You have 5 active instances, 2 suspended instances and 2 instances that requared your attention.</span>
                        </div>
                    </div>

                    <div class="col-xl-12 col-sm-12 mb-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <i class="fa fa-area-chart"></i> CPU, % usage:
                                    </div>
                                    <div>
                                        <div id="CPU_chart_div"></div>

                                    </div>

                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <i class="fa fa-area-chart"></i> RAM, MB usage:
                                    </div>
                                    <div>
                                        <div id="RAM_chart_div"></div>

                                    </div>

                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <i class="fa fa-area-chart"></i> HDD, GB usage:
                                    </div>
                                    <div>
                                        <div id="HDD_chart_div"></div>

                                    </div>

                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <!-- Example Bar Chart Card-->
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <i class="fa fa-bar-chart"></i> Instance usage:
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3 text-center my-auto">
                                                <div class="h5 mb-0 text-primary">{{ cpuinfo }} %</div>
                                                <div class="small text-muted">CPU</div>
                                                <hr>
                                            </div>
                                            <div class="col-sm-3 text-center my-auto">
                                                <div class="h5 mb-0 text-warning">{{ meminfo.MemUsed }} MB
                                                    of {{ meminfo.MemTotal }} MBs
                                                </div>
                                                <div class="small text-muted">RAM</div>
                                                <hr>
                                            </div>
                                            <div class="col-sm-3 text-center my-auto">
                                                <div class="h5 mb-0 text-success">{{ diskinfo.DisckUsed }} GB
                                                    of {{ diskinfo.DisckTotal }} GBs
                                                </div>
                                                <div class="small text-muted">HDD Spaces</div>
                                                <hr>
                                            </div>
                                            <div class="col-sm-3 text-center my-auto">
                                                <div class="h5 mb-0 text-success">100 GB of 250 GBs</div>
                                                <div class="small text-muted">HDD Backup Spaces</div>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <!-- Example DataTables Card-->
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fa fa-table"></i> Instances summary
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Instance</th>
                                            <th>Contact person</th>
                                            <th>Licenses issued</th>
                                            <th>Rate</th>
                                            <th>Monthly revenue $</th>
                                            <th>Resources used</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>Instance</th>
                                            <th>Contact person</th>
                                            <th>Licenses issued</th>
                                            <th>Rate</th>
                                            <th>Monthly revenue $</th>
                                            <th>Resources used</th>
                                            <th>Status</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr>
                                            <td>Marketing Masters</td>
                                            <td>Tiger Nixon</td>
                                            <td>37</td>
                                            <td>12</td>
                                            <td>444</td>
                                            <td>RAM: 10% - HDD: 8% - CPU: 15%</td>
                                            <td>Active</td>
                                        </tr>
                                        <tr>
                                            <td>SEO Agency</td>
                                            <td>Garrett Winters</td>
                                            <td>12</td>
                                            <td>10</td>
                                            <td>120</td>
                                            <td>RAM: 8% - HDD: 3% - CPU: 12%</td>
                                            <td>Active</td>
                                        </tr>
                                        <tr>
                                            <td>YourBiz</td>
                                            <td>Ashton Cox</td>
                                            <td>20</td>
                                            <td>15</td>
                                            <td>300</td>
                                            <td>RAM: 8% - HDD: 3% - CPU: 12%</td>
                                            <td>Suspended</td>
                                        </tr>
                                        <tr>
                                            <td>Market Plus</td>
                                            <td>Cedric Kelly</td>
                                            <td>5</td>
                                            <td>20</td>
                                            <td>100</td>
                                            <td>RAM: 25% - HDD: 4% - CPU: 16%</td>
                                            <td>Active</td>
                                        </tr>
                                        <tr>
                                            <td>Jack LTD</td>
                                            <td>Airi Satou</td>
                                            <td>4</td>
                                            <td>15</td>
                                            <td>60</td>
                                            <td>RAM: 25% - HDD: 4% - CPU: 16%</td>
                                            <td>Suspended</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="instances" role="tabpanel" aria-labelledby="instances-tab">
                    <div class="col-xl-12 col-sm-12 mb-12">

                        <div class="card-body">
                            <div class="row padd">
                                <div class="col-lg-2 ">
                                    <button class="btn btn-primary btn-block"> Add new instance</button>
                                </div>
                                <div class="col-lg-2 ">
                                    <a class="btn btn-primary btn-block" href="/resources"> Change default Resources</a>
                                </div>
                            </div>
                            <table class="table table-bordered" id="marketing_masters" width="100%" cellspacing="0">
                                {% for instance in instances %}

                                    <thead>
                                    <tr>
                                        <th>Instance</th>
                                        <th>Resources used:</th>
                                        <th>Resources limits:</th>
                                        <th>Licenses:</th>
                                        <th>Latest invoice:</th>
                                        <th>Instance status: {{ instance.status }} </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>

                                        <td>{{ instance.name }}</td>
                                        <td>
                                            Average CPU:25%<br>
                                            Average RAM: 256 Mb<br>
                                            Average HDD: 2345 Mb
                                        </td>
                                        <td>
                                            {% for resource in instance.resources %}
                                                {% if resource.value %}
                                                    {% if resource.resource.name == 'RAM' %}
                                                        {{ resource.resource.name }}: {{ resource.value }} MB  <br>
                                                    {% elseif resource.resource.name == 'CPU' %}
                                                        {{ resource.resource.name }}: {{ resource.value }} %  <br>
                                                    {% elseif resource.resource.name == 'HDD' %}
                                                        {{ resource.resource.name }}: {{ resource.value }} GB  <br>
                                                    {% endif %}
                                                {% else %}
                                                    {% if resource.resource.name == 'RAM' %}
                                                        {{ resource.resource.name }}: {{ resource.resource.defaultValue }} MB
                                                        <br>
                                                    {% elseif resource.resource.name == 'CPU' %}
                                                        {{ resource.resource.name }}: {{ resource.resource.defaultValue }} %
                                                        <br>
                                                    {% elseif resource.resource.name == 'HDD' %}
                                                        {{ resource.resource.name }}: {{ resource.resource.defaultValue }} GB
                                                        <br>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% if instance.license is empty %}
                                                <div class="alert alert-warning" role="alert">
                                                    Sorry! This instance has no license!
                                                </div>
                                            {% else %}
                                                Issued: {{ instance.license.issued }} <br>
                                                Usage: {{ instance.license.usage }} <br>
                                                Rate: {{ instance.license.rate }}$/license/month <br>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% for invoice in instance.invoices %}
                                                {{ invoice.price }}$ @ {{ invoice.creationDate|date("Y-m-d") }}<br>
                                                Status: {{ invoice.status }}<br>
                                                Next invoice: {{ invoice.expirationDate|date("Y-m-d") }}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-block" href="#">Suspended</a>
                                            <a class="btn btn-primary btn-block" href="#">Terminate</a>
                                        </td>
                                    </tr>

                                    </tbody>

                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="tab-pane fade" id="licenses" role="tabpanel" aria-labelledby="licenses-tab">
                    <div class="card-body">
                        <div class="row padd">
                            <div class="col-lg-2">
                                <label>Select instance:</label><br>
                                <select class="form-control" id="select-instance">
                                    {% for instance in instances %}
                                        <option value="{{ instance.license.id }}">{{ instance.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-3">
                                {% if instances|length > 0 and instances[0].license is not empty %}
                                    <p id="licenses-issued">Licenses issued: <span
                                                id="license-issued">{{ instances[0].license.issued }}</span></p>
                                    <p>Licenses used: <span id="license-usage">{{ instances[0].license.usage }}</span>
                                    </p>
                                {% else %}
                                    <p id="licenses-issued">Licenses issued: <span
                                                id="license-issued">0</span></p>
                                    <p>Licenses used: <span id="license-usage">0</span></p>
                                {% endif %}

                                <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                                        data-target="#changeLicense">Change licenses value
                                </button>

                            </div>
                            <div class="col-lg-3">
                                {% if instances|length > 0 and instances[0].license is not empty %}
                                    <p>Monthly rate, $ <span id="license-rate">{{ instances[0].license.rate }}</span>
                                    </p>
                                    <br>
                                    <p></p>
                                {% else %}
                                    <p>Monthly rate, $ <span id="license-rate">0</span></p><br>
                                    <p></p>
                                {% endif %}

                                <button class=" btn btn-primary btn-block"> Change rate</button>
                            </div>
                            <div class="col-lg-3">
                                {% if instances|length > 0 and instances[0].invoices is not empty %}
                                <p>This month revenue: <spann id="invoice-price">{{ invoices[0].price }} $</spann></p>
                                <p>Next month revenue: <spann id="invoice-price">{{ invoices[0].price }} $</spann></p>
                                {% else %}
                                <p>This month revenue: <span id="invoice-price">0 $</span></p><br>
                                <p>Next month revenue: <spann id="invoice-price">0 $</spann></p>
                                {% endif %}

                                <button class=" btn btn-primary btn-block"> Generate</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports-tab">
                    <div class="row padd">
                        <div class="col-lg-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fa fa-area-chart"></i> Active instances / month
                                </div>
                                <div class="card-body">
                                    <div id="Sarah_chart_div_a"></div>

                                </div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fa fa-area-chart"></i> Suspended instances / month
                                </div>
                                <div class="card-body">
                                    <div id="Sarah_chart_div_b"></div>

                                </div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fa fa-area-chart"></i> Issued licenses / month
                                </div>
                                <div class="card-body">
                                    <div id="Sarah_chart_div_c"></div>

                                </div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fa fa-area-chart"></i> Total revenues / month
                                </div>
                                <div class="card-body">
                                    <div id="Sarah_chart_div_d"></div>

                                </div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="server_health" role="tabpanel" aria-labelledby="server_health-tab">
                    <div class="col-xl-12 col-sm-12 mb-12 padd">
                        <div class="card-body">
                            <p>Server uptime: {{ uptime }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card-body">
                                <p>Latest backup: 02/03/2018</p>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <button class=" btn btn-primary btn-block"> Backup managment</button>
                        </div>
                        <div class="col-lg-2">
                            <button class=" btn btn-primary btn-block"> Download backup</button>
                        </div>
                        <div class="col-lg-2">
                            <button class=" btn btn-primary btn-block"> Restore backup</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-body">
                                <p>HDD S.M.A.R.T status: OK</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-body">
                                <p>Server configuration:</p>
                                <ul>
                                    <li>{{ servinfo['model name'] }}</li>
                                    <li>cpu cores:{{ servinfo['cpu cores'] }}</li>
                                    <li>64 GB DDR 3 RAM</li>
                                    <li>1 TB HDD RAID 0+1</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- /.container-fluid-->
            <!-- /.content-wrapper-->
            <footer class="sticky-footer">
                <div class="container">
                    <div class="text-center">
                        <small>Copyright © Your Website 2018</small>
                    </div>
                </div>
            </footer>
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fa fa-angle-up"></i>
            </a>

            <!-- Modal -->
            <div class="modal fade" id="changeLicense" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Change licenses</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/licenses" method="POST">
                                <div class="form-row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="issuedValue">License issued:</label>
                                            <input name="license[][issuedValue]" type="text"
                                                   value="{{ instances[0].license.issued  }}" id="issuedValue" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="usageValue">License usage:</label>
                                            <input type="text" name="license[][usageValue]"
                                                   id="usageValue" value="{{ instances[0].license.usage  }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="rateValue">License rate:</label>
                                            <input type="text" name="license[][rateValue]"
                                                   id="rateValue" value="{{ instances[0].license.rate  }}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-6 modal-footer">
                                        <button id="btn-cancel" type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn btn-success btn-block">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End modal -->

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('document').ready(function () {
            $('#select-instance').change(function (e) {
                $.get('/api/licenses/' + e.target.value, function (data) {
                    let issued = $('#license-issued');
                    let usage = $('#license-usage');
                    let rate = $('#license-rate');

                    issued.text(data.issued);
                    usage.text(data.usage);
                    rate.text(data.rate);

                });

                $.get('/api/invoices/' + e.target.value, function (data) {
                    let price = $('#invoice-price');
                    //let $creationDate = $('#invoice-creationDate');
                    //let $expirationDate = $('#invoice-expirationDate');

                    paid.text(data.price);
                    //usage.text(data.usage);
                    //rate.text(data.rate);

                })
            });

            $('#changeLicense').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-body input').val(recipient)
            })

        });
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}